<web-app>
  <servlet>
    <servlet-name>RegisterPatientServlet</servlet-name>
    <servlet-class>RegisterPatientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterPatientServlet</servlet-name>
    <url-pattern>/RegisterPatientServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LoginPatientServlet</servlet-name>
    <servlet-class>LoginPatientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginPatientServlet</servlet-name>
    <url-pattern>/LoginPatientServlet</url-pattern>
  </servlet-mapping>
</web-app>
